In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math
import statistics as st
% matplotlib in line

UsageError: Line magic function `%` not found.

In [2]:
df = pd.read_csv('StudentsPerformance.csv')
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [3]:
cols = df.columns

In [4]:
num_cols = df._get_numeric_data().columns

In [5]:
cat_cols = list(set(cols) - set(num_cols))

In [7]:
binary_cols = []
nominal_cols = []
for col in cat_cols:
    if df[col].nunique() == 2:
        binary_cols.append(col)
    else:
        nominal_cols.append(col)

print('Numerical columns:',num_cols)
print('Binary columns:',binary_cols)
print('Nominal columns:',nominal_cols)

Numerical columns: Index(['math score', 'reading score', 'writing score'], dtype='object')
Binary columns: ['lunch', 'test preparation course', 'gender']
Nominal columns: ['parental level of education', 'race/ethnicity']